

// these are the 3 wide variables
$boxWidth: (100%/3.2);
$boxHeight: 700px/2;
$color: rgb(125, 219, 188);
$color2: rgb(255, 255, 255);
$boxContainerLRMargin: 3.6%;
$boxFontSize: ($boxWidth*7);
$transFontSize: ($boxWidth*2);
$boxPaddingTop: $boxHeight/10;

// these are the changes for 2 wide

.box{
  position: relative;
  font-size: $boxFontSize;
  font-family: 'Helvetica', sans-serif;
  text-align:center;
  color: $color;
  display: inline-block;
  width: $boxWidth;
  height: $boxHeight;
  padding-top: $boxPaddingTop;
  box-sizing: border-box;
}
.bigwords{
  color: $color;
  position:absolute;
}
.transwords{
  color: $color2;
  font-size: $transFontSize;
  font-family: serif
}
.bar{
  margin-top: 20px;
  background: $color;
  width: $boxWidth*2;
  height: 8px;
  margin-left: $boxWidth*.5;
}

.box:hover{
  background: $color;
  color: $color2;
  .bar{
    background: $color2;
    width: $boxWidth*2;
    height: 8px;
    margin-left: $boxWidth*.5;
    transform: translateY(50px);
    transition: .25s;
    }
  i{
    transform: translateY(- 10px);
    transition: .25s;
    }
  // .bigWords{
  //   position: absolute;
  //   left: $boxWidth*.8;
  //   transform: translateY(- 50px);
  //   transition: .25s;
  //   }
  #COMICS{
    position: absolute;
    left: $boxWidth;
    transform: translateY(- 50px);
    transition: .25s;
    }
  #GAMES{
    position: absolute;
    left: $boxWidth;
    transform: translateY(- 50px);
    transition: .25s;
    }
  #TRAVEL{
    position: absolute;
    left: $boxWidth;
    transform: translateY(- 50px);
    transition: .25s;
    }
  #MOVIES{
    position: absolute;
    left: $boxWidth;
    transform: translateY(- 50px);
    transition: .25s;
    }
  #TECHNOLOGY{
    position: absolute;
    left: $boxWidth*.5;
    transform: translateY(- 50px);
    transition: .25s;
    }
  #NIGHTLIFE{
    position: absolute;
    left: $boxWidth*.8;
    transform: translateY(- 50px);
    transition: .25s;
    }
}/*ends box:hover*/

a{
  text-decoration: none;
  color: #000;
}
#boxContainer{
  width: 100%;
  padding: 0 $boxContainerLRMargin 0 $boxContainerLRMargin;
}

@media(max-width: 1005px){
  .box{
    width: 49%;
  }
}
@media(max-width: 666px){
  .box{
    width:99%;
  }
}
